.FooterDashboard {
    background-color: rgba(47, 45, 45, 0.894);
    color: rgba(247, 247, 247, 0.887);
    margin-left: -12px;
    // margin-right: -4px;
    // padding-right:10px;
    .col{
        line-height:7.2px ;
    }
}