.container {
    margin-top: 70px;
    padding: 30px;

    .main_1 {
        cursor: context-menu;
        margin-bottom: 100px;

        .image {
            img:hover {
                margin-left: 50px;
                transition: all 0.7s;
            }

            img {
                margin: 0;
                transition: all 0.7s;
            }
        }

        .playbutton {
            display: flex;

            .play {
                font-size: 70px;
            }

            .play:hover {
                font-size: 70px;
                color: rgb(204, 148, 148);
            }

            h5 {
                margin-top: 22px;
                margin-left: 10px;
            }
        }

        .text {
            h1 {
                color: #341d74;
                font-size: 60px;
            }

            p {
                color: #4c24b9;
                font-size: 19px;
                width: 270px;
            }
        }

        .button {
            p {
                color: #4c24b9;
                font-size: 19px;
                font-weight: 400;
            }

            .applebutton {
                button {
                    background-color: black;
                    padding: 3px 17px 0px 10px;
                    border: none;
                    border-radius: 5px;

                    .flex {
                        display: flex;

                        .apple {
                            font-size: 35px;
                            color: white;
                            margin-top: 4px;
                        }

                        p {
                            color: white;
                            font-size: 10px;
                            margin-top: 6px;
                            line-height: 130%;

                            span {
                                color: white;
                                font-size: 17px;
                                font-weight: bold;
                            }
                        }

                    }
                }

                button:hover {
                    background-color: #4c24b9;
                }

            }
        }
    }

    .main_2 {
        cursor: context-menu;

        .image {
            padding: 60px;
        }

        .Contant_Center {
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;

            .text {
                margin-left: 50px;

                h5 {
                    color: #f39d8f;
                    font-size: 14px;
                }

                h1 {
                    color: #341d74;
                    width: 65%;
                    font-weight: 600;
                    font-size: 47px;
                }

                p {
                    color: #4a3584;
                    width: 60%;
                    font-size: 16px;

                    span {
                        color: #341d74;
                        font-weight: bold;
                    }
                }
            }
        }

    }

    .main_5 {
        background-color: #f1edecb0;
        min-height: 50vh;

        .Contant_Center {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            min-height: 50vh;
            border-right: black solid 1px;

            .text {
                padding-left: 40px;

                h5 {
                    color: #f39d8f;
                    font-size: 14px;
                    padding: 0px 15px 0px 15px;
                }

                h1 {
                    padding: 0px 15px 0px 15px;
                    color: #341d74;
                    font-weight: 600;
                    font-size: 47px;
                }

                p {
                    padding-left: 15px;
                    width: 88%;
                    color: #4a3584;
                    font-size: 16px;
                }
            }

        }

        .Icon_Contant {
            padding: 10px;
            text-align: center;
            margin-bottom: 20px;

            .icon {
                font-size: 45px;
                padding: 10px;
                border-radius: 100%;
                border: none;
                color: #4a3584;
                background-color: #cccbce;
            }

            h5 {
                color: #4a3584;
                font-size: 18px;
                margin-top: 10px;
                text-align: center;
            }
        }
    }

    .main_6 {
        margin-top: 40px;
        padding: 0px 20px 0px 20px;
        margin-bottom: 50px;

        .text_1 {
            h1 {
                color: #5131a7;
                font-size: 38px;
                font-weight: 600;
            }

            p {
                color: #5131a7;
                font-size: 16px;
                width: 90%;
            }

        }

        .text_2 {
            h1 {
                font-size: 38px;
                font-weight: 600;
                color: #5131a7;
            }

            p {
                color: #5131a7;
                font-size: 16px;
                width: 90%;
            }
        }

        .text_3 {
            padding: 0px 50px 0px 50px;

            p {
                color: #4c24b9;
                font-size: 16px;

                span {
                    font-weight: bold;
                }
            }
        }
    }

}

.main_7 {
    background-color: #341d74;
    min-height: 70vh;

    .container {
        margin-top: 40px;

        .card_1 {
            padding: 15px;
            margin-top: 20px;

            h5 {
                color: #f39d8f;
                font-size: 14px;
                padding: 0px 15px 0px 15px;
            }

            h2 {
                padding: 0px 15px 0px 15px;
                color: #ffffff;
                font-weight: 600;
                font-size: 47px;
            }

            p {
                margin-top: 10px;
                padding-left: 17px;
                color: #ffffff;
                font-size: 16px;
            }
        }

        .card_2 {
            padding: 15px;

            color: white;
            margin-top: 20px;

            h4 {
                margin-top: 10px;
                font-size: 16px;
            }

            h1 {
                font-size: 70px;
            }

            h6 {
                background-color: #433763;
                padding: 3px;
                text-align: center;
                border: none;
                border-radius: 4px;
                width: 18%;
            }

            div {
                margin-bottom: 5px;

                .ture {
                    color: green;
                }
            }

            .disable {
                color: rgba(255, 255, 255, 0.545);

                .false {
                    color: rgba(255, 0, 0, 0.821);
                    transform: rotate(45deg);
                }
            }

            button {
                border: none;
                background-color: black;
                color: white;
                font-size: 18px;
                padding: 10px 15px 10px 15px;
                margin-top: 10px;
                border-radius: 6px;
            }

            button:hover {
                border: none;
                background-color: rgb(201, 141, 141);
                color: rgb(255, 255, 255);
                font-size: 18px;
                padding: 10px 15px 10px 15px;
                margin-top: 10px;
                border-radius: 6px;
            }

        }
    }
}


.main_8 {
    background-color: #2d1966;
    color: white;
    min-height: 45vh;
    margin-top: -10px;

    .container {
        margin-top: 10px;

        .text_1 {
            margin-top: 40px;

            div {
                font-size: 17px;
                color: #f39d8f;
                font-weight: 400;
            }

            h2 {
                font-size: 47px;
                font-weight: 600;
            }
        }

        .text_2 {
            padding: 50px;
            margin-left: 50px;

            h6 {
                font-size: 18px;
                line-height: 30px;

                .plus {
                    color: #f39d8f;
                    font-size: 18px;
                }
            }
        }
    }
}

.main_9 {
    background: url("https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fcolabrio.ams3.cdn.digitaloceanspaces.com%2Fohio-demo-9%2Foh__img109.jpg") !important;
    background-size: cover;
    background: no-repeat;
    min-height: 70vh;
    position: relative;

    .card_1 {
        background-color: #392274;
        width: 250px;
        height: 150px;
        position: absolute;
        bottom: 0;
        left: 200px;

        .text {
            h2 {
                color: white;
                font-size: 50px;
                text-align: center;
                margin-top: 10px;
            }

            p {
                color: white;
                font-size: 18px;
                text-align: center;
            }
        }
    }

    .card_2 {
        background-color: #000000;
        width: 250px;
        height: 150px;
        position: absolute;
        bottom: 0;
        left: 450px;

        .text {
            h2 {
                color: white;
                font-size: 50px;
                text-align: center;
                margin-top: 10px;
            }

            p {
                color: white;
                font-size: 18px;
                text-align: center;
            }
        }
    }
}

// This is Mobile And Tab Styling start...

@media screen and (max-width: 1208px) {
    .container {
        .main_1 {
            .text {
                h1 {
                    font-size: 40px;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .container {
        .main_2 {
            .image {
                img {
                    width: 100%;
                    height: 300%;
                }
            }

            .Contant_Center {
                width: 100%;

                .text {
                    width: 100%;

                    h1 {
                        width: 100%;
                        font-size: 40px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 980px) {
    .container {
        .main_1 {
            .image {
                img:hover {
                    margin-left: 150px;
                    transition: all 0.7s;
                }

                img {
                    margin-left: 70px;
                    transition: all 0.7s;
                }
            }
        }
    }

}

@media screen and (max-width: 860px) {
    .container {
        .main_1 {
            .image {
                img {
                    display: none;
                }
            }

            .text {
                width: 100%;
            }
        }

        .main_2 {
            .Contant_Center {
                width: 100%;

                .text {
                    width: 100%;

                    h1 {
                        width: 100%;
                        font-size: 30px;
                    }

                    p {
                        width: 100%;
                    }
                }
            }
        }


        .main_5 {
            margin-top: 50px;
            background-color: #f1edecb0;
            min-height: 50vh;

            .Contant_Center {
                border: none;

                .text {
                    padding-left: 20px;

                    h1 {
                        font-size: 37px;
                    }
                }

            }
        }

        .main_6 {
            margin-top: 40px;

            .text_1 {
                h1 {
                    text-align: center;
                }

                p {
                    text-align: center;
                }
            }

            .text_2 {
                h1 {
                    text-align: center;
                }

                p {
                    text-align: center;
                }
            }

            .text_3 {
                p {
                    color: #4c24b9;
                    font-size: 16px;
                    width: 100%;

                    span {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .main_8 {
        background-color: #2d1966;
        color: white;
        min-height: 45vh;
        margin-top: -10px;

        .container {
            margin-top: 10px;

            .text_1 {
                margin-top: 20px;

                div {
                    font-size: 17px;
                    color: #f39d8f;
                    font-weight: 400;
                }

                h2 {
                    font-size: 27px;
                    font-weight: 600;
                }
            }

            .text_2 {
                padding: 50px;
                margin-left: 50px;

                h6 {
                    font-size: 18px;
                    line-height: 30px;

                    .plus {
                        color: #f39d8f;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .main_9 {
        background: url("https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fcolabrio.ams3.cdn.digitaloceanspaces.com%2Fohio-demo-9%2Foh__img109.jpg") !important;
        background-size: cover;
        background: no-repeat;
        min-height: 70vh;
        position: relative;
    
        .card_1 {
            background-color: #392274;
            width: 250px;
            height: 150px;
            position: absolute;
            bottom: 0;
    left: 0;
            .text {
                h2 {
                    color: white;
                    font-size: 50px;
                    text-align: center;
                    margin-top: 10px;
                }
    
                p {
                    color: white;
                    font-size: 18px;
                    text-align: center;
                }
            }
        }
    
        .card_2 {
            background-color: #000000;
            width: 250px;
            height: 150px;
            position: absolute;
            bottom: 0;
            left: 250px;
    
            .text {
                h2 {
                    color: white;
                    font-size: 50px;
                    text-align: center;
                    margin-top: 10px;
                }
    
                p {
                    color: white;
                    font-size: 18px;
                    text-align: center;
                }
            }
        }
    }
    
}

@media screen and (max-width: 470px) {
    .container {
        .main_1 {
            .image {
                img {
                    display: none;
                }
            }

            .text {
                width: 100%;

                h1 {
                    font-size: 25px;
                }

                p {
                    font-size: 18px;
                    width: 100%;
                }
            }
        }

        .main_2 {
            .Contant_Center {
                width: 100%;

                .text {
                    width: 100%;

                    h1 {
                        width: 100%;
                        font-size: 25px;
                    }

                    p {
                        width: 100%;
                        font-size: 18px;
                    }
                }
            }
        }

        .main_5 {
            margin-top: 50px;
            background-color: #f1edecb0;
            min-height: 50vh;

            .Contant_Center {
                border: none;

                .text {
                    h1 {
                        font-size: 27px;
                    }
                }

            }
        }
    }

    .main_8 {
        background-color: #2d1966;
        color: white;
        min-height: 45vh;
        margin-top: -10px;

        .container {
            margin-top: 10px;

            .text_1 {
                margin-top: 20px;

                div {
                    font-size: 17px;
                    color: #f39d8f;
                    font-weight: 400;
                }

                h2 {
                    font-size: 27px;
                    font-weight: 600;
                }
            }

            .text_2 {
                width: 100%;
                text-align: left;

                h6 {
                    font-size: 16px;
                    line-height: 30px;

                    .plus {
                        color: #f39d8f;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .main_9 {
        background: url("https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fcolabrio.ams3.cdn.digitaloceanspaces.com%2Fohio-demo-9%2Foh__img109.jpg") !important;
        background-size: cover;
        background: no-repeat;
        min-height: 70vh;
        position: relative;
    
        .card_1 {
            background-color: #392274;
            width: 150px;
            height: 120px;
            position: absolute;
            bottom: 0;
            left:0;
    
            .text {
                h2 {
                    color: white;
                    font-size: 30px;
                    text-align: center;
                    margin-top: 10px;
                }
    
                p {
                    color: white;
                    font-size: 18px;
                    text-align: center;
                }
            }
        }
    
        .card_2 {
            background-color: #000000;
            width: 150px;
            height: 120px;
            position: absolute;
            bottom: 0;
            left: 150px;
    
            .text {
                h2 {
                    color: white;
                    font-size: 30px;
                    text-align: center;
                    margin-top: 10px;
                }
    
                p {
                    color: white;
                    font-size: 18px;
                    text-align: center;
                }
            }
        }
    }
    
}


// This is Mobile And Tab Styling end...