@import'./Sass/bootstrap';
@import'./Sass/signin';
@import'./Sass/top';
@import'./Sass/navbar';
@import'./Sass/home';
@import'./Sass/show';
@import'./Sass/dashboard';
@import'./Sass/sidebar';
@import'./Sass/TopbarDash';

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}